selectable-row[isselected] {
    background-color: green;
}

li {
    font-size: 10px;
    height: 10px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

#firstcell {
  width: 8%;
  font-weight: bold;
}

#secondcell {
  width: 8%;
  font-weight: 100;
}
